Exercise on Pandas and Numpy (and Matplotlib)

Data is imported from plotly library.

INSTRUCTIONS:
- Solve the problem
- Answer should be visible either in the printout from code cell and written in the markdown if possible.

In [5]:
#Install libraries (not needed in Colab)
#pip install plotly
#pip install pandas
#Import pandas and plotly.express libraries
import plotly.express as px
import pandas as pd

In [8]:
#Read life expectation data for Europe from gapminder data
data = px.data.gapminder().query("continent=='Europe'")
data

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
12,Albania,Europe,1952,55.230,1282697,1601.056136,ALB,8
13,Albania,Europe,1957,59.280,1476505,1942.284244,ALB,8
14,Albania,Europe,1962,64.820,1728137,2312.888958,ALB,8
15,Albania,Europe,1967,66.220,1984060,2760.196931,ALB,8
16,Albania,Europe,1972,67.690,2263554,3313.422188,ALB,8
...,...,...,...,...,...,...,...,...
1603,United Kingdom,Europe,1987,75.007,56981620,21664.787670,GBR,826
1604,United Kingdom,Europe,1992,76.420,57866349,22705.092540,GBR,826
1605,United Kingdom,Europe,1997,77.218,58808266,26074.531360,GBR,826
1606,United Kingdom,Europe,2002,78.471,59912431,29478.999190,GBR,826
1607,United Kingdom,Europe,2007,79.425,60776238,33203.261280,GBR,826

TASK 1: Basic information
- What are the columns of data?
- What is the data type in each column?
- What is the shape of data?
- Print out data in first four rows, last four rows and  rows 100 - 104
- Create new variable data_FI, which contains only data from Finland
- Create new variable data_2007, which contains only data from 2007
- Where was the biggest life expectansy in 2007? What was the population and GDB per capita there?

In [30]:
#1
data.columns
data.dtypes
data.shape
data.head(4)
data.tail(4)
data[100:104]
data_FI = data[data['country'] == 'Finland']
data_2007 = data[data['year'] == 2007]
max_row = data_2007['lifeExp'].argmax()
data_2007.iloc[max_row]

country          Iceland
continent         Europe
year                2007
lifeExp           81.757
pop               301931
gdpPercap    36180.78919
iso_alpha            ISL
iso_num              352
Name: 695, dtype: object

TASK 2: Basic calculations
- Define new variable data_year, which has one row for each year and columns year and total_population (in all countries)
- Calculate the total population in Europe for every year in the data.
- What was the population in 1952 and 2007?

In [28]:
#2
data_year = data.groupby(['year'], as_index = False)['pop'].sum()
data_year = data_year.rename(columns={'pop':'europe_population'})
data_year[data_year['year'] == 1952]['europe_population']/1000000
data_year[data_year['year'] == 2007]['europe_population']/1000000

TASK 3: 
- Calculate the total GDP for every country/year in the data
- Caclulate the total GDP in Europe for every year
- Calculate the GDP per capita in Europe for every year

In [40]:
#3
data['gdpTotal'] = data['gdpPercap']*data['pop']
data_europe = data.groupby(['year'], as_index = False)['gdpTotal'].sum()
data_europe = data_europe.rename(columns={'gdpTotal':'GDP_Europe'})
data_europe['total_population'] = data_year['europe_population']
data_europe['GDP_percapita'] = data_europe['GDP_Europe']/data_europe['total_population']

TASK 4:
- Import data frame which contains year, GDP in Europe, population in Europe and GDP per capita in Europe to Numpy array
- Calculate row and column averages (although row averages don't make any sense in this case)

In [ ]:
#4
import numpy as np
data_numpy = data_europe.to_numpy(dtype = float)
average1 = np.mean(data_numpy, axis = 0)
average2 = np.mean(data_numpy, axis = 1)

TASK 5a
- Import data.csv used in earlier exercise
- Convert Pandas data frame to NumPy array
- What are the dimensions of an array?
- Print out first five rows, last five rows and rows 100 - 105
- Calculate the total number of heart beats (pulse times duration) from NumPy array

TASK 5b
- Define a random tensor C with  dimensions of 8*5*3
- Calculate the average along axis 0, 1 and 2
- What are the dimensions of output matrices?

In [ ]:
#5a
df_pandas = pd.read_csv('data.csv')
data_numpy = df_pandas.to_numpy()
data_numpy.shape
data_numpy[range(5),:]
a = data_numpy.shape
a[0]
data_numpy[range(a[0]-5,a[0]),:]
data_numpy[range(100,105),:]
total_heartbeats = data_numpy[:,0]*data_numpy[:,1]
#add to original dataframe
total_heartbeats = total_heartbeats.reshape(a[0],1)
data_numpy = np.append(data_numpy, total_heartbeats, axis = 1)

#5b
C = np.random.rand(8,5,3)
C_av_0 = np.mean(C, axis = 0)
C_av_0.shape
C_av_1 = np.mean(C, axis = 1)
C_av_1.shape
C_av_2 = np.mean(C, axis = 2)
C_av_2.shape

BONUS TASK 6:
- Draw a graph of GDP per capita vs. time (upper panel) and life expectancy vs. time (lower panel)  in nordic countries (Finland, Sweden, Norway, Denmark, Iceland)

In [ ]:
import matplotlib.pyplot as plt
data_FI = data[data['country'] == "Finland"]
fig = plt.figure(num = None, figsize = (12,6), dpi = 100)
plt.grid(True)
plt.ylabel('GDP')
plt.xlabel('Year')
plt.plot(data_FI['year'], data_FI['gdpPercap'])